{% extends "accounts/base.html" %}
{% block content %}
<main>
    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ forms.as_p }}
            <button>Login</button>
        </form>
    </div>
</main>
{% endblock content %}
