{% extends "accounts/base.html" %}
{% block content %}
<main>
    <div>
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            {{ forms.as_p }}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
